body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('testbg.jpg'); /* Add background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="file"]:focus {
    border-color: #007bff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ef1414;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ea5656;
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
    text-align: center;
}

.success-message {
    color: #008000;
    margin-top: 5px;
    text-align: center;
}
h2{
    color: #4d2d52;
    font-family: 'Garamond', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}
