/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('testbg.jpg'); /* Add background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Form container */
form {
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Text inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* File inputs */
input[type="file"] {
    margin-top: 10px;
}

/* Submit button */
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #e64f4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #f31e1e;
}

/* Error messages */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
h2{
    color: #4d2d52;
    font-family: 'Garamond', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    text-decoration: underline;
}
