/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('testbg.jpg'); /* Add background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Navigation Bar */
  nav {
    background: linear-gradient(to right, #4CAF50, #c71212);
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar li a:hover {
    background-color: rgba(255,255,255,0.2);
    color: white;
  }
  
  /* Container */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh;
  }
  
  /* Logo */
  .logo {
    display: block;
    margin: 10px auto;
    width: 150px;
   
  }
  
  /* Login Container */
  .login-container {
    background-color: #fff;
    width: 350px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form */
  #loginForm {
    text-align: center;
  }
  
  /* Labels */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Text inputs */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Submit button */
  button[type="submit"] {
    background-color: #ea2c2c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s;
  }
  
  /* Shadow effect on hover */
  button[type="submit"]:hover {
    background-color: #f65454;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Signup link */
  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
  }
  
  h3 a {
    color: #0091bd;
    text-decoration: none;
  }
  
  h3 a:hover {
    text-decoration: underline;
  }
  
  /* Sign in heading */
  h2 {
    color: #4d2d52;
    font-family: 'Garamond', serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  /* Welcome heading */
  h1 {
    color: #4d2d52;
    font-family: 'Garamond', serif;
    font-size: 36px;
    text-align: center;
    margin-top: 1px;
  }